---
import LoadingLayout from '../layouts/LoadingLayout.astro';
import LoadingScreen from '../components/LoadingScreen';
---

<LoadingLayout title="SILENT CODE - Initializing">
    <!-- Preload critical assets -->
    <link rel="preload" href="/components/MatrixRain.js" as="script" crossorigin="anonymous">
    <link rel="preload" href="/components/ScrambleText.js" as="script" crossorigin="anonymous">
    <link rel="preload" href="/components/TypewriterText.js" as="script" crossorigin="anonymous">
    <link rel="prefetch" href="/home">

    <div class="fixed inset-0 flex items-center justify-center">
        <LoadingScreen 
            client:only="react"
            onLoadComplete={() => {
                window.location.replace('/home');
            }}
        />
    </div>
</LoadingLayout> 